environment:

  matrix:

    # https://www.appveyor.com/docs/build-environment/#python

    - PYTHON: "C:\\Python36-x64"
    - PYTHON: "C:\\Python37-x64"
    - PYTHON: "C:\\Python38-x64"

install:
  - "%PYTHON%\\python.exe --version"
  - "%PYTHON%\\python.exe -c \"import platform;print(platform.machine())\""
  - "%PYTHON%\\python.exe -m pip install -r requirements.txt -r tests\\requirements.txt"

build: off

test_script:
  - "%PYTHON%\\python.exe -m unittest discover"
